body {
  color: #555555;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
  color: black;
  font-family: blackoak-std, serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: #cdc9c3 solid 0.001rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5 0;
}

main {
  min-height: 80vh;
}

h5 {
  padding: 5px 0;
}

.rating span {
  margin: 0.1rem;
}

.Nav {
  display: flex;
}

.card {
  border: none;
}

.card-title {
  margin-bottom: 5px;
}

.card-body {
  padding: 10px 0;
}

.imgs {
  border-radius: 15px;
}

.rating {
  padding-top: 0;
  font-size: 0.8rem;
}

footer {
  border-top: #cdc9c3 solid 0.001rem;
  height: 40px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
}
